#!/usr/bin/env bash
set -euo pipefail

export LOCALSTACK_AUTH_TOKEN=""

export AWS_ECR_REPOSITORY=""
export AWS_EKS_KUBECONTEXT=""

export AUTHZ_HOST=""
export AUTHZ_PORT=""
export AUTHZ_PATH=""
export AUTHZ_HEADER=""
